/* google font link */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Inspiration&family=Poppins&display=swap");

/* Common styling */

body {
  font-family: "Poppins", sans-serif;
}

/* navbar style */
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background-image: linear-gradient(to right, #16354a, #fb9c1c);
  height: 100px;
}

.navbar-nav li {
  padding: 0 5px;
}

.navbar-nav li a {
  float: right;
  text-align: left;
}

#nav-yef-logo {
  position: relative;
  right: 15px;
}

.navbar-nav ul a {
  float: right;
  text-align: right;
}
.navbar-nav ul a:hover {
  color: #16354a;
  background: none;
}

.dropdown-menu {
  background-image: linear-gradient(to right, #16354a, #fb9c1c);
  padding: 0;
}

.dropdown-item {
  color: aliceblue;
}

/* Footer Section */
.footer-logo img {
  width: 100px;
  height: auto;
  position: relative;
  right: 10px;
  bottom: 22px;
}
ul {
  padding-left: 0;
}

input:focus {
  outline: none;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #ffff;
}

footer {
  background-image: linear-gradient(to right, #16354a, #fb9c1c);
  padding-top: 60px;
}

.footer-about {
  margin-bottom: 30px;
}

.footer-about p {
  color: aliceblue;
  font-weight: 400;
  text-align: justify;
}
.footer-widget h6 {
  text-decoration: none;
  color: aliceblue;
  font-weight: 600;
}

.footer-widget li {
  text-decoration: none;
  color: aliceblue;
  font-size: 15px;
  list-style: none;
  line-height: 30px;
}
.footer-widget li a {
  text-decoration: none;
  color: aliceblue;
  font-weight: 400;
}

.footer-widget li a:hover {
  color: #16354a;
}
.footer-widget .footer-subscribe p {
  color: aliceblue;
}
.footer-widget .footer-subscribe form {
  position: relative;
}

.footer-widget .footer-subscribe form input {
  width: 100%;
  font-size: 15px;
  color: #ffff;
  background: transparent;
  border: none;
  padding: 15px 0;
  border-bottom: 2px solid #ffff;
}
.footer-widget .footer-subscribe form input::placeholder {
  color: aliceblue;
}
.footer-widget .footer-subscribe form button {
  color: aliceblue;
  font-size: 15px;
  position: absolute;
  right: 5px;
  top: 0;
  height: 100%;
  background: transparent;
  border: none;
}

.footer-copyright {
  border-top: 3px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0;
  margin-top: 40px;
}

.footer-copyright p {
  color: aliceblue;
  margin-bottom: 0;
}

.footer-copyright p a {
  color: white;
  text-decoration: none;
}
.footer-copyright p a:hover {
  color: #16354a;
}

.google-maps {
  margin-top: 10px;
}

@media all and (max-width: 480px) {
  #nav-yef-logo {
    position: relative;
    right: 75px;
  }
  .title {
    text-align: center;
    margin-top: revert;
  }
  #tagline {
    text-align: center;
  }
  #join-div {
    display: flex;
    justify-content: center;
  }
  #banner-photo img {
    position: relative;
    left: 15px;
  }
}
